.advanced-features {
    padding-top: 10px;
    flex-direction: column;
}

.advanced-features a {
    margin-bottom: 10px;

    background-color: var(--clr4);
    padding: 1rem 3rem;
    border-radius: 20px;
}

.file-input-btn::-webkit-file-upload-button {
    visibility: hidden;
}



.file-input-btn::before {
    content: 'Add Your own picture to canvas';
    background-color: var(--clr1);
    font-size: initial;
    font-family: arvo;
    padding: 1rem;
    border-radius: 20px;
}

.advanced-features>* {

    margin-bottom: 10px;
    padding: 1rem 3rem;
}

@media (min-width:700px) {
    .advanced-features {

        flex-direction: row;
    }
}