.meme-editor-wrapper {
    height: 100vh;
}

.meme-editor-wrapper.hide {
    display: none;
}

.modal-container {
    height: 100%;
    position: relative;
}

.modal {
    flex-direction: column;
    position: absolute;
}

.meme-editor {
    display: grid;
    height: 200px;

    grid-template-rows: repeat(auto-fill, minmax(50px, 200px));
    grid-gap: 5px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 3px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.designed-buttons {
    background-color: rgb(46, 149, 34);

    padding-inline-start: 20px;

    color: antiquewhite;
}

canvas {
    margin-top: 10px;
}

.move-lines-buttons button {
    width: 60px;
    height: 60px;
    font-size: 40px;
}

.change-text-align-buttons button img {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

.line-amount-wrapper :first-child {
    margin-bottom: 10px;
    color: black;
    background-color: antiquewhite;
}

.line-amount-wrapper :last-child {
    color: black;
    background-color: coral;
}

.download-button {
    background-color: blueviolet;
    color: aliceblue;
}

.designed-buttons:hover {
    color: rgb(80, 176, 176);
}

.modal-container {

    background-color: var(--clr3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100vw;
    width: 100%;
    height: 300vh;

}

.modal-container.appear {
    animation-name: modal-appearance;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

@keyframes modal-appearance {
    from {
        right: -100vw;
    }

    to {
        right: 0;
    }
}

@media (min-width:750px) {
    .modal {
        /* position: absolute; */
    }

    .meme-editor {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1200px) {

    .modal {
        flex-direction: row;
        /* position: absolute; */
    }

    canvas {
        margin-inline-end: 30px;
    }

    .meme-editor {

        height: 200px;

        grid-template-rows: repeat(auto-fill, minmax(50px, 300px));

        grid-gap: 5px;
    }
}