* {
    box-sizing: border-box;

}

html {
    font-size: 12px;
}

body {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--clr3);
    font-family: arvo;
}

header {
    width: 100%;
    background-color: var(--clr2);
}

footer {
    width: 100%;
}

a {
    text-decoration: none;
}

@media (min-width:600px) {
    html {
        font-size: 14px;
    }
}