/* flex-helpers */
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.margin-zero {
    margin: 0;
}

.fa {
    font-family: fa;

}

.fa.fa-facebook::before {
    content: '\f082';
}

.fa.fa-twitter::before {
    content: '\f081';
}

.fa.fa-behance::before {
    content: '\f1b4';
}

.fa.fa-dribble::before {
    content: "\f17d";
}